body {
  background-color: grey;
}

header {
  height: 100px;
  background-color: black;
}

.container {
  width: 1024px;
  margin: auto;
}

.box-logo img {
  margin-top: 15px;
  width: 50px;
}
