body {
  background-color: grey;
}

header {
  height: 100px;
  background-color: black;

  img {
    width: 50px;
    margin-top: 15px;
  }
}

.container {
  width: 1024px;
  margin: auto;
}
